@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

:root {
  /* Warna Utama */
  --color-bluez: 206, 77%, 35%; /* Bluez: #0069B1 */
  --color-bluez-foreground: 0, 0%, 100%; /* Putih untuk teks di atas bluez */

  --color-tealz: 187, 89%, 40%; /* Tealz: #00ADC6 */
  --color-tealz-foreground: 0, 0%, 100%; /* Putih untuk teks di atas tealz */

  --color-greenz: 84, 58%, 51%; /* Greenz: #98C93C */
  --color-greenz-foreground: 0, 0%, 10%; /* Hitam untuk teks di atas greenz */

  /* Warna Umum */
  --background: 0, 0%, 98%; /* Abu terang untuk background */
  --foreground: 0, 0%, 10%; /* Hitam untuk teks */

  --card: 0, 0%, 100%; /* Putih untuk kartu */
  --card-foreground: 0, 0%, 10%; /* Hitam untuk teks kartu */

  --popover: 0, 0%, 96%; /* Warna sedikit lebih gelap untuk popover */
  --popover-foreground: 0, 0%, 10%; /* Hitam untuk teks di popover */

  /* Warna Aksen */
  --muted: 0, 0%, 85%; /* Abu untuk elemen muted */
  --muted-foreground: 0, 0%, 50%; /* Abu medium untuk teks muted */

  --accent: 45, 100%, 51%; /* Warna aksen, misalnya kuning cerah */
  --accent-foreground: 0, 0%, 10%; /* Hitam untuk teks di atas aksen */

  --destructive: 0, 70%, 50%; /* Warna merah untuk elemen destructive */
  --destructive-foreground: 0, 0%, 100%; /* Putih untuk teks di destructive */
}

/* Dark Mode */
[data-theme="dark"] {
  --background: 0, 0%, 10%; /* Hitam untuk background */
  --foreground: 0, 0%, 90%; /* Putih untuk teks */

  --card: 0, 0%, 15%; /* Hitam terang untuk kartu */
  --card-foreground: 0, 0%, 90%; /* Putih untuk teks kartu */

  --popover: 0, 0%, 12%; /* Popover warna gelap */
  --popover-foreground: 0, 0%, 85%; /* Abu terang untuk teks di popover */

  --muted: 0, 0%, 25%; /* Abu gelap untuk muted */
  --muted-foreground: 0, 0%, 70%; /* Abu terang untuk teks muted */

  --accent: 45, 100%, 45%; /* Aksen lebih gelap */
  --accent-foreground: 0, 0%, 95%; /* Putih untuk teks di atas aksen */

  --destructive: 0, 80%, 40%; /* Merah gelap untuk destructive */
  --destructive-foreground: 0, 0%, 90%; /* Putih untuk teks di destructive */
}
